<!--EJS file is same as an html, but allows javascript to be embedded in it.-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving with NodeJS</title>
    <style>
        body{
            background-color: skyblue;
            color: white;
        }
        h1 , h2{
            text-transform: uppercase;
            font-family: verdana;
            padding: 15px;
            text-align: center;
        }
        p, li{
            font-family: verdana;
            padding: 15px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>You are viewing the profile of <%= name%></h1>
    <p>Learning EJS is fun!</p>
    <h2>Hobbies : </h2>
    <ul>
        <!-- you can write js code like for loops in EJS. -->
        <!-- Note how you dont have to write <%= and just <% -->
        <!-- Also, make sure you end the js tag before writing the html code. -->
        <% hobbies.forEach(function(item) { %>
            <li><%= item %></li>

        <% }); %> 
    </ul>
</body>
</html>